<script>
  const convention_video = document.getElementsByClassName("convention-video")[0];
  const convention_chat = document.getElementsByClassName("convention-chat")[0];
  const resizeVideoAndChat = () => {
    const w = (window.innerWidth / 3) - 20;
    // Maintain a 16-9 aspect ratio
    const h = ((w * 2) / 16) * 9;
    convention_video.style.width = `${w * 2}px`;
    convention_chat.style.width  = `${w}px`;
    convention_video.style.height = `${h}px`;
    convention_chat.style.height  = `${h}px`;
  } 
  window.addEventListener("resize", resizeVideoAndChat, false);
  document.addEventListener('fullscreenchange', resizeVideoAndChat, false);
  resizeVideoAndChat();
  const chat_src = `https://titanembeds.com/embed/917965434127528007?defaultchannel=${channel}`;
  convention_chat.src = chat_src;
</script>